body{
    margin: 0px;
    padding: 0px;
    background-color:#E0D6CA;
}
#counter{
    position: absolute;
    top:89%;
    left: 7%;
    transform: translate(-90%,-20%);
    z-index: 9;
}
#AmmoCounter{
    position: absolute;
    top:89%;
    left: 13%;
    transform: translate(-90%,-20%);
    z-index: 9;
}
